body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url(background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 100vh;
}
.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  color: white;
}

.header a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  transition: transform 0.3s;
}

.header a:hover {
  transform: scale(1.1);
}

.header .flex-center {
  display: flex;
}

.header .icon-3d {
  margin: 0 5px;
  transition: transform 0.3s;
}

.header .icon-3d:hover {
  transform: rotateY(180deg);
}

  
.logo-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
  margin-right: 40pt;
}

.logo-wrapper:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.logo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  transition: transform 0.3s;
}

.logo-wrapper:hover .logo {
  transform: rotate(360deg);
}

.editable {
  font-size: 40px;
  font-weight: bold;
  color: #333;
  transition: color 0.3s;
}

.logo-wrapper:hover .editable {
  color: #ff0000; 
}
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 330vh;
  }
  
  .about {
    height: 10vh;
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-out;
  }
  
  .about:hover {
    transform: scale(1.05);
  }
  
  .aboutdescript {
    text-align: justify;
    text-justify: inter-word;
    font-size: 2vh;
    max-width: 25vw;
  }
  
  .offer {
    font-size: 2.5vh;
  }
  
  .offer:hover {
    transform: scale(1.05);
  }
  
  .zoom-in {
    transform: scale(2);
  }
  
  .zoom-out {
    transform: scale(1);
  }

.offer{
  font-size: 20pt;
  transition: transform 0.3s ease-out;
}
.offer:hover {
  transform: scale(1.05);
}

p{
  transition: transform 0.3s ease-out;
}

p:hover {
  transform: scale(1.05);
}

.w3-tag{
  transition: transform 0.3s ease-out;
}

.w3-tag:hover{
  transform: scale(1.05);
}

table {
  width: 50vw;
  margin-left: 1vw;
  border-collapse: separate;
  border-spacing: 0;
}

th {
  height: 10vh;
  text-align: left;
  border: none;
  position: relative;
}

td {
  text-align: left;
  transition: transform 0.3s ease-in-out;
}

tr:hover {
  background-color: grey;
}

tr:hover td {
  transform: translateX(1.5vw);
}

.table {
  font-size: 2.5vh;
}

tr:hover td {
  background-color: transparent;
}

.w3-input {
  font-size: 1.5vh;
  width: 80vw;
  
}

.description {
  margin-top: 5vh;
  margin-left: 2vw;
  font-size: 2vh;
  font-weight: bold;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

